html,
body {
    height: 100%;
    width: 100%;
}

.button {
    background-color: rgb(218, 177, 177);
    padding: 20px;
    width: 60px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    /* cursor: pointer; */
}

.row {
    margin: 8px 0;
}

.row input {
    width: 210px;
    font-size: 15px;
    margin: 0;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 5px;
}